<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="3EMIAConnectionString" connectionString="Data Source=sql.fiap.com.br;Initial Catalog=3EMIA;User ID=RM12294;Password=230200" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>