@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    height: 100%;
}

.layer {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
}

h3 {
    margin: 30px 10px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.title-container {
    position: relative;
    background-color: #337ab7;
    background-color: rgba(0,0,0,0.75);
    padding: 2px;
    margin-bottom: 30px;
}

.arrow {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #337ab7;
    /*border-top: 20px solid rgba(0,0,0,0.75);*/
    left: 20px;
}

.form-container {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

.input-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
